/* Sets font family and color to page */
* {
    box-sizing: border-box;
    color: white;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;

}

/* Sets margin for home button */
.button-container {
    margin: 1vh 0vh 0vh 1vh;


}


/* Styles the home button */
.home-button {
    background-color: black;
    opacity: 0.8;
    align-content: center;
    padding: 5px;
    margin: auto;
}

/* Changes home button when you hover over it */
.home-button:hover {
    background-color: white;
    color: black;
}


/* Google font setting for home icon */
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

/* Changes icon color on hover */
.material-symbols-outlined:hover {
    color: black;

}

/* Styles font within plot section */
p {
    font-size: 1.1rem;
    line-height: 1.5;
    text-align: justify;

}

/* Styles font within ratings section */
pre {
    font-size: 1.2rem;
    line-height: 1.7;
    font-family: 'Montserrat', sans-serif;

}

/* sets background image */
body {
    background-image: url("../img/lionking.jpg");
    background-size: 100%;
    background-repeat: no-repeat;


}


/* Adds padding to the the outside container */
.container {
    box-sizing: border-box;
    padding: 2vh 12vh 20vh 8vh;

}


/* Sets heeightm margin and background to the Details div */
.moviedetails-container {
    box-sizing: border-box;
    height: 95vh;
    background-color: none;
    margin: auto;

}


/* Sets min size for you tube video container */
.player-class {
    background-color: black;
    padding-left: 1rem;
    padding-top: 1rem;
    width: 54.5rem;
    height: 25rem;

    
}

iframe {
    width: 52.5rem;
    height: 23rem;
    margin: auto;

}


/* Styles plot section  */
.plot {
    box-sizing: border-box;
    margin-top: 3rem;
    height: fit-content;
    width: 100vh;
    padding: 5px 0;
    background-color: black;
    opacity: 0.8;

}

/* Styles the ratings section */
.ratings {
    box-sizing: border-box;
    margin-top: 3rem;
    height: fit-content;
    padding: 5px;
    background-color: black;
    opacity: 0.8;

}


/* Sets height for Movie tite and picture container */
.movietitle-container {
    height: 95vh;
    align-items: center;

}


/* Styles the  */
.movietitle-container h2 {
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 1.5rem;
    background-color: black;
    opacity: 0.8;
    color: white;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;


}


/* Centres and displays inside movie image */
.segment {
    box-sizing: border-box;
    display: contents;
    margin: auto;

}

/* Sets a frame for movie iamge */
.image-container {
    box-sizing: border-box;
    background-color: black;
    height: 70vh;
    width: 50vh;
    opacity: 0.8;
    margin: auto;

}


/* Displays the movie image */
.movieimage {
    box-sizing: border-box;
    width: 44vh;
    height: 64vh;
    /* background-image: url("../img/lionking.jpg"); */
    background-position: center;
    background-size: cover;
    margin: 3vh 0vh 0vh 3vh;




}

/* Setting to make page mobile responsive  */
@media screen and (max-width: 1000px) {

    body,
    .container,
    .moviedetails-container,
    .movietitle-container {
        padding: 5px;
        margin: auto;
        background-repeat: repeat;
        background-size: cover;
        min-width: 45rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

    }


    .plot,
    .ratings    {
        margin-top: 5vh;
        min-width: 45rem;
        margin-right: 3vh;
        align-items: center;

    }

    .movietitle-container h2 {
        margin-top: 200px;
    }

    .button-container {
        position: absolute;
        top: 1vh;
        left: 1vh;
        margin-bottom: 2vh;
    }

    .player-class {
        width: 45rem;
        height: 20rem;

    }
    iframe {
        margin-top: 10vh;
        width: 43rem;
        height: 18rem;
    }

    }


/* Setting to make page mobile responsive  */
@media screen and (max-width: 500px) {

    body,
    .container,
    .moviedetails-container,
    .movietitle-container {
        padding: 5px;
        margin: auto;
        background-repeat: repeat;
        background-size: cover;
        min-width: 25rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

    }



    .plot,
    .ratings,
    .movietitle-container h2 {
        margin-top: 10vh;
        min-width: 25rem;

    }

    .movietitle-container {
        margin-top: 200px;
    }

    .player-class {
        width: 25rem;
        height: 15rem;
    
    }

    iframe {
        margin-top: 10vh;
        width: 23rem;
        height: 13rem;
    }
}